pytest>=2.8
git+git://github.com/robotpy/robotpy-wpilib#egg=hal-base&subdirectory=hal-base
git+git://github.com/robotpy/robotpy-wpilib#egg=hal-sim&subdirectory=hal-sim
git+git://github.com/robotpy/robotpy-wpilib#egg=robotpy-wpilib&subdirectory=wpilib
git+git://github.com/robotpy/robotpy-wpilib-utilities
git+git://github.com/robotpy/robotpy-installer
pynetconsole
attrs
py
pluggy
six
git+git://github.com/robotpy/robotpy-ctre
git+git://github.com/robotpy/pynetworktables
git+git://github.com/robotpy/pyfrc
pycodestyle
